.layout {
  width: 100%;
  height: 95vh;
  display: grid;
  grid: "header" auto "main" 1fr "footer" auto / 1fr;
  background-color: #f5f5dc;
  
}

.header {
  grid-area: header;
  background-color: #927e61;
  padding: 10px;
  text-align: center;
}

.main {
  grid-area: main;
  text-align: center;
  padding: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #f5f5dc;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #5e503f;
  color: black;
  
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 10px;
  resize: vertical;
}

input[type=submit], input[type=reset] {
  background-color: #04AA6D;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.container {
  width: 400px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.erro {
  color: red;
  display: block;
  text-align: right;
}